body {
    padding: 0;
    margin: 0;
    background: #ffffff;
}
.navbar {
    background:#ffffff;
}
.nav-link,
.navbar-brand {
    color: #000000;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.detalhes {
    border:1px solid #d1d1d1;
    background:#d1d1d1;
    border-radius: 0;
    color:#000000;
}
.detalhes:hover {
	border:1px solid #e4e4e4;
    background:#e4e4e4;
    color:#000;
}

.search-bar {
    display: flex;
    margin-right:15px;
}

.search-field {
    display: flex;
    flex-basis: 41rem;
}

.search-button {
    flex: 1;
}

.header {
    background: #fff;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    max-width: none;
}

.header > nav {
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    height: 80px;
}

.btn-header {
    margin-left: 5px;
    margin-right: 5px;
}

.normal-justify {
    justify-content: normal;
    margin-left: 20px;
}

.menu-title > span {
    display: block;
    font-weight: lighter;
    font-size: larger;
}

thead > tr > th {
    background-image: var(--bs-gradient);
    background-color: inherit !important;
    color: #fff !important;
}

.vertical-align-mid {
    vertical-align: middle !important;
}

.align-mid {
    text-align: center;
}

.card-margin-bottom {
    margin-bottom: 15px;
}

.card-text-login {
    max-width: 22rem;
}